---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---

<h1>Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

<a href="#!" class="paddle_button" data-product="645833">Buy Now!</a>

